.modal-container {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(247, 244, 244, 0.79);
  height: 100%;
  width: 100%;
}

.modal-content {
  z-index: 2;
  position: relative;
  top: 100px;
  background-color: white;
  height: 10%;
  width: 40%;
  margin: 0 30%;
  border-radius: 15px;
  font-size: 30px;
  background: rgb(234, 93, 13);
  color: white;
  font-weight: bold;
  border-color: none;
  border-style: none;
}
#container {
  width: 100%;
  height: 550px;
  margin: 0 auto;
}
#map {
  height: 70%;
  width: 60%;
  position: absolute;
  top: 40px;
  right: 150px;
}
#menu{
  width: 100%;
  height: 100%;
}
#add-spot{

}
#see-spots{

}
.menu-buttons{
}
/*#user-input {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 100px;
}
#add-form {
  padding: 10px;
  width: 100%;
}
.input{
  padding: 7px;
  position: relative;
  left: 0px;
  font-size: 15px;
  background-color: white;
  border-color: lightgrey;
  box-shadow: none;
  border-radius: 5px;
}*/
