<!DOCTYPE html>
<head>
  <title>People's Park</title>
  <script src="/angular/angular.js" ></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
  <div id="container">
    <div id="menu" class="modal-container">
      <button id="add-spot" class="menu-buttons modal-content">Add Spot</button>
      <p></p>
      <button id="see-spots" class="menu-buttons modal-content">See Spots</button>
    </div>
    <div id="menu" class="form-modal-container">
      <form action="/#" method="POST">
        <select id="day-input" class="input-modal-content" name="day">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select><br>
        <select id="status-input" class="input-modal-content" name="status">
          <option value="now">Now</option>
          <option value="5">5 mins</option>
          <option value="10">10 mins</option>
          <option value="15">15 mins</option>
          <option value="20">20 mins</option>
        </select><br>
        <button type="submit" id="new-spot-button" class="input-modal-content">Add Spot</button>
      </form>
    </div>
    <div id="map" ></div> <!-- map -->
  </div> <!-- container -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=myKey%>&callback=initMap"
  async defer></script>
</body>
</html>