<!DOCTYPE html>
<head>
  <title>People's Park</title>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" href="/style/mobile.css" type="text/css" media="handheld" />
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
  <div id="container">
    <input type="hidden" id="user" value="<%=name%>">
    <div id="menu" class="login-modal-container">
        <form action="/#" method="POST">
          <input id="username" class="form-inputs login-modal-content" type="text" name="username">
          <p></p>
          <input id="password" class="form-inputs login-modal-content" type="password" name="password">
          <p></p>
          <button id="login" class="menu-buttons login-modal-content" type="submit">Login</button>
        </form>
        <p></p>
        <form action="/#" method="POST">
          <input id="new-username" class="form-inputs login-modal-content" type="text" name="username">
          <p></p>
          <input id="new-password" class="form-inputs login-modal-content" type="password" name="password">
          <p></p>
          <button id="signup" class="menu-buttons login-modal-content" type="submit">Sign Up!</button>
        </form>
    </div> <!-- login-modal-container -->
    <div id="menu" class="menu-modal-container">
      <button id="add-spot" class="menu-buttons menu-modal-content">Add Spot</button>
      <p></p>
      <button id="see-spots" class="menu-buttons menu-modal-content">See Spots</button>
      <p></p>
      <button id="logout" class="menu-buttons menu-modal-content">Log Out</button>
    </div> <!-- modal-container -->
    <div class="form-modal-container">
      <form action="/#" method="POST">
        <select id="day-input" class="form-modal-content" name="day">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select><br>
        <select id="status-input" class="form-modal-content" name="status">
          <option value="now">Now</option>
          <option value="5">5 mins</option>
          <option value="10">10 mins</option>
          <option value="15">15 mins</option>
          <option value="20">20 mins</option>
        </select><br>
        <button type="submit" id="new-spot-button" class="form-modal-content">Add Spot</button>
        <p></p>
        <button type="button" id="error-button" class="form-modal-content">Choose Again</button>
      </form>
    </div> <!-- form-modal-container -->
    <div id="map" ></div> <!-- map -->
  </div> <!-- container -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=myKey%>&callback=initMap"
  async defer></script>
</body>
</html>