<!DOCTYPE html>
<head>
  <title>People's Park</title>
  <script src="/angular/angular.js" ></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
  <div id="container">
    <div id="menu" class="modal-container">
      <button id="add-spot" class="menu-buttons modal-content">Add Spot</button>
      <p></p>
      <button id="see-spots" class="menu-buttons modal-content">See Spots</button>
    </div>
    <div id="map" ></div> <!-- map -->
  </div> <!-- container -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=myKey%>&callback=initMap"
  async defer></script>
</body>
</html>